body{
  background: #efdecd;
  font-family: 'Marck Script', cursive;
}

header {
  display: flex;
  flex-direction: column;
  justufy-content: center;
  margin: 0 auto;
  padding: 10px 15px;
  background: white;
  box-sizing: border-box;
  width: 1200px;
  border: 2 px solid red;
  border-radius: 5px;
}

header h1 {
  text-align: center;
}
